.header {
  position: fixed;
  width: 100%;
  z-index: 9;
  margin-top: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }

  &__phone {
    border-bottom: 2px solid $gold;
    padding-bottom: 5px;
  }
}
