.main {
  background-image: url(../img/main/bg.jpg);
  background-size: cover;

  &__content {
    padding: 250px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-box {
  width: 540px;

  &__title {
    @include OpenSansCondensed-Bold();
    font-size: 64px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__description {
    margin-bottom: 50px;
  }
}

.main-slider {
  width: 370px;

  &__container {
    height: 510px;
  }

  &__bg {
    background-color: $gold;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: -9999;
  }

  &__bg-img {
    opacity: 0.15;
  }

  &__bttns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  }

  &__bttn-prev,
  &__bttn-next {
    cursor: pointer;
  }
}
