.sidebar {
  position: fixed;
  padding: 0 25px;
  height: 100%;
  background-color: rgba($color: #333, $alpha: 0.75);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 9;

  @media (max-width: 768px) {
    display: none;
  }

  &__title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg);
    margin-bottom: 150px;

    @media (max-height: 600px) {
      margin-bottom: 75px;

      &::after{
        display: none;
      }
    }

    @media (max-height: 480px) {
      display: none;
    }

    &::after {
      content: "";
      position: relative;
      display: block;
      background-color: white;
      height: 40%;
      width: 3px;
      bottom: 50%;
      left: 9px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link{
    margin-bottom: 30px;
    color: #fff;
    transition: color 0.3s;

    &:hover{
      color: $gold;
    }
  }
}
