@import "../plugins/reset.min.css";
@import "_font.scss";

$maxWidth: 1110;

$gold: #d1a954;
$black: #333333;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $width: $maxWidth - 320;
  $fnSize: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$width}));

  font-size: $fnSize;

  @media (min-width: #{$maxWidth + px}) {
    font-size: $pcSize + px;
  }
}

body{
  color: #fff;
}

.wrapper {
  max-width: $maxWidth + px;
  margin: 0 auto;
  padding: 0 10px;
}

@import "_header.scss";
@import "_main.scss";