@import "../plugins/reset.min.css";
@import "_font.scss";

$maxWidth: 1110;

$gold: #d1a954;
$black: #333333;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $width: $maxWidth - 320;
  $fnSize: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$width}));

  font-size: $fnSize;

  @media (min-width: #{$maxWidth + px}) {
    font-size: $pcSize + px;
  }
}

body {
  color: #fff;
}

.wrapper {
  max-width: $maxWidth + px;
  margin: 0 auto;
  padding: 0 10px;
}

.heading {
  @include OpenSansCondensed-Light();
  font-size: 48px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.title {
  @include OpenSansCondensed-Bold();
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.subtitle {
  @include OpenSansCondensed-Bold();
  font-size: 16px;
  letter-spacing: 0.05em;
}

.description {
  @include OpenSans();
  font-size: 14px;
  line-height: 150%;
}

.colored {
  color: $gold;
}

.button {
  background-color: $gold;
  padding: 15px 40px;
  letter-spacing: 0.1em;
}

@import "_header.scss";
@import "_sidebar.scss";
@import "_main.scss";
@import "_about.scss";
